@import "./../../scss/mixin";
@import "./../../scss/var";

.corporateSection{
    margin-bottom: $sectionmarginBottom;

.fixelloContent {
    padding: 60px 25px 40px;
    border: 1px solid #EEEEEE;
    border-radius: 12px;
    position: relative;
  

    .personalProfile {
        @include fixelloProfile(#FAB03B)
    }
    .corporateProfile {
        @include fixelloProfile(#5973C4)
    }

    .SectionTitle h2{
      @include commanHeading;
    }
    .SectionTitle p{
        @include commanDiscription;
    }

    & ul li {
        @include commanlisting(rgb(0 0 0 / 70%));

        & span{
            @include commanlistingIcon;
        }
    }

}
}