body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PoppinsRegular";
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul li, ol li{
  list-style-type: none;
}
a{
  transition: all 0.5s;
  text-decoration: none;
}
@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
   url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
 }
 @font-face {
  font-family: "PoppinsMedium";
  src: local("PoppinsMedium"),
   url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
 }
 @font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"),
   url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
 }
 
